.App {
  padding: 30px;
    background-color: floralwhite;
  }

.h1{
    background-color: blue;
    height: 40px;
    text-align: center;
  
}
.p{
  background-color: aqua;
  height: 40px;
  text-align: center;
  padding-top: 40;
}
.btn{
  background-color: red;
  height: 40px;
  text-align: center;
  margin-left: 45%;
}
.de{
  background-color: blueviolet;
  text-align: center;
}
.e{
  background-color: rgb(43, 226, 104);
  text-align: center;
}
.imgd{
  text-align: center;
}
.img{
height: 250px;
width: 250px;
}